/*styling*/
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    }
    20%, 24%, 55% {       
      text-shadow: none;
    }
  }

:root {
    --cp-dark-blue: #000033;
}

* {
    color: lavenderblush;
    text-decoration: none;  
}

body {
    font-family: 'Share Tech Mono', monospace, arial, helvetica;
    background-image: url(images/bkd.jpg);
    background-size: cover;
    background-repeat: repeat;
}

/*browser resizing setup*/

.container {
    display: grid;
    grid-template: 200px auto auto 100px / repeat(3, 1fr);
    gap: 20PX;
    height: auto;
    width: 90%;
    margin: 0 auto;
}

header {
    display: grid;
    grid-column: span 3;
    grid-template-columns: repeat(3, auto);
    grid-template-areas: 
        "h1 profilepic nav";
    background-color: rgb(37, 2, 97, 0.6);
    border: 20px solid var(--cp-dark-blue);
    border-radius: 60% 0% 60% 0%;
}

.profilepic {
    grid-area: profilepic;
    max-width: 200px;
    height: auto;  
    border: 7px solid var(--cp-dark-blue);
    border-radius: 70% 10% 70% 10%;    
    justify-self: center;
}

h1 {
    grid-area: h1;
    align-self: flex-end;
    justify-self: left;
    position: relative;
    bottom: 10px;
    left: 30px;
    font-size: 3rem;
    color: #810a7d;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(255, 0, 128),
    0 0 82px rgb(255, 0, 128),
    0 0 102px rgb(255, 0, 128),
    0 0 151px rgb(255, 0, 128);
}

nav {
    grid-area: nav;
    justify-self: right;
    align-self: baseline;
    position: relative;
    top: 7px;
    opacity: 0.;
}

ul li {
    display: inline-block;
    margin-right: 10px;
}

li {
    font-size: 1.4rem;   
}

nav a {
    border: transparent;
    border-radius: 0% 30%;
    background-image: linear-gradient(
      to right,
      #54b3d6,
      rgb(255, 0, 128) 50%,
      #000 90%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  
  nav a:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
    
  }
  
  nav a:hover {
   background-position: 0;
   
  }
  
  nav a:hover::before {
    width:100%;
  }

.banner {
    grid-column: span 3;
    margin: 0 10%;
}

.banner img {
    width: 100%;
    height: auto;
    opacity: 0.6;
    border: transparent;
    border-radius: 10% 30% 1% 25%;
    }

.banner p {
    position: relative;
    bottom: 28%;
    left: 57%;
    font-size: 2.1rem;
    color: #1ce61500;
    animation: flicker 1.5s infinite alternate;     
 }

.content {
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
    display: grid;
    grid-template: repeat(2,1fr) / 1fr 2fr;
    grid-template-areas: 
        "aside main main"
        "aside main main";
    width: 70%;
    justify-self: center;
    justify-content: space-evenly;
}

aside {
    grid-row: span 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    width: 90%;
    justify-items: start;
    align-items: center;
    align-self: center;
    background-color: rgba(97, 15, 62);
    border-right: 10px double rgb(78, 217, 255);
    border-radius: 5% 50% 50% 5%;
    background-color: indigo;
    opacity: 0.7;
}

#my-work, #about-me {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    border-radius: 0% 10% 10% 0%;
    padding: 19px;
    background-color: #0fa;
}

#my-work {
    padding-right: 40px;
}

main {
    grid-area: main;
    grid-column: 2 / span 2;
    grid-row: span 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr auto;
    grid-template-areas: 
        "about about"
        "big big"
        "small small"
        "small small";
    row-gap: 30px;
    justify-self: center;
    border: 2px solid transparent;
    transition: all 0.2s ease-in-out;
}

article:hover {
    box-shadow: 0 5px 15px rgb(6, 242, 25);
    color: rgba(255, 255, 255, 1);
    opacity: 1;
}

.about {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    font-size: 1.5rem;
    text-align: justify;
    background-color: rgba(243, 10, 126, 0.308);
    opacity: 0.8;
    padding: 25px;
    border-radius: 15%;
}

.big {
    grid-column: span 2;
    grid-row-start: 2;background-color: #e24177;
    width: 80%;
    align-self: baseline;
    justify-self: center;
    border-top: 3px solid white;
    border-radius: 40% 0% 40% 0%;
    opacity: 0.7;
    padding: 50px;
    justify-items: end;
}

.big h3, .big p {
    position: relative;
    top: 50%;
    left: 10%;
    font-size: 1.5rem;
    font-size: 2rem;
    text-decoration: none;
}

.small {
    background-color: #0f08e1;
    width:80%;
    justify-self:center;
    align-self: baseline;
    opacity: 0.7;
    border-radius: 20% 0%;
    padding: 40px;
}


footer {
    grid-column-start: span 3;
    width: 90%;
    justify-self: center;
    align-self: baseline;
    padding: 40px;
    background-color: var(--cp-dark-blue);
    opacity: 0.6;
    border-radius: 50% 50% 0% 0%;
}

footer:hover {
    opacity: 1;
}

h5, ul {
    text-align: center;
}

h5 {
    font-size: 2rem;
    text-decoration: underline;
    margin-bottom: 20px;
}


/*browser resized to breakpoint will render a mobile layout*/
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 200px auto auto 100px;
    }
    header, .banner, aside, main, footer {
        grid-column-start: span 1;
    }
}




/*  --notes 
resizing to mobile where all components are column span 1 -- stacked
why the banner p not moving to the right? 
in the end make all main container borders roll bock into background
*/