/*styling*/
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    }
    20%, 24%, 55% {       
      text-shadow: none;
    }
  }

:root {
    --cp-dark-blue: #000033;
}

* {
    color: lavenderblush;
    text-decoration: none;  
}

body {
    font-family: 'Share Tech Mono', monospace, arial, helvetica;
    background-image: url(images/bkd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/*browser resizing setup*/

.container {
    display: grid;
    grid-template: 200px auto auto 100px / repeat(3, 1fr);
    gap: 15PX;
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

header {
    display: grid;
    grid-column: span 3;
    grid-template-columns: repeat(3, auto);
    grid-template-areas: 
        "h1 profilepic nav";
    background-color: rgb(37, 2, 97, 0.6);
    border: 20px double var(--cp-dark-blue);
    border-radius: 60% 10% 60% 10%;
}

.profilepic {
    grid-area: profilepic;
    max-width: 200px;
    height: auto;  
    border: 7px solid var(--cp-dark-blue);
    border-radius: 70% 10% 70% 10%;    
    justify-self: center;
}

h1 {
    grid-area: h1;
    align-self: flex-end;
    justify-self: left;
    position: relative;
    bottom: 5px;
    left: 10px;
    font-size: 3rem;
    color: #08a4e1;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

nav {
    grid-area: nav;
    justify-self: right;
    align-self: baseline;
    position: relative;
    top: 5px;

}

ul li {
    display: inline-block;
    margin-right: 10px;
}

li {
    font-size: 1.7rem;   
}

nav a {
    border: transparent;
    border-radius: 0% 30%;
    background-image: linear-gradient(
      to right,
      #54b3d6,
      #54b3d6 50%,
      #000 90%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  
  nav a:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
    
  }
  
  nav a:hover {
   background-position: 0;
   
  }
  
  nav a:hover::before {
    width:100%;
  }

.banner {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr; 
    position: relative;
}

.banner img {
    width: 100%;
    height: auto;
    opacity: 0.7;
    border: 1px white solid;
    border-radius: 20% 10% 20% 10%;
}

.banner p {
    position: absolute;
    justify-self: right;
    align-self: flex-end;
    right: 50px;
    bottom: 90px;
    font-size: 2.5rem;
    color: #1ce61500;
    animation: flicker 1.5s infinite alternate;     
 }

.content {
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
    display: grid;
    grid-template: 30% 1fr / 30% repeat(2, 1fr);
    grid-template-areas: 
        "aside main main"
        "aside main main";
    column-gap: 40px;
    row-gap: 20px;
}

aside {
    grid-row: 1 / span 2;
    display: grid;
    grid-template-rows: inherit;
    position: relative;
    top: 10px;
    background-color: rgba(97, 15, 62, 0.0);
    border-right: 10px solid rgb(78, 217, 255);
    border-radius: 20%;
    background-color: indigo;
    opacity: 0.8;
}

#about-me h2{
    position: relative;
    top: 25px;
    right: 80px;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    border: 20px solid rgb(218, 165, 112);
    border-radius: 20%;
    background-color: rgb(218, 165, 112);

}


#about-me {
    grid-row-start: 1;
    display: inline-block;
    justify-self: end;
    align-self: center;
}

#my-work h2{
    position: relative;
    right: 80px;
    top: 25px;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    border: 20px solid rgb(112, 218, 204);
    border-radius: 15%;
    background-color: rgb(112, 218, 204);

}

#my-work {
  grid-row-start: 2;
  display: inline-block;
  justify-self: end;
  align-self: center;
  position: relative;
}

main > p, article {
    border-radius: 17%;
}

main {
    position: relative;
    top: 50px;
    height: 96.7%;
    grid-area: main;
    grid-column: 2 / span 2;
    grid-row: span 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
        "about about"
        "big big"
        "small small"
        "small small";
    row-gap: 20px;
    border: 2px solid transparent;
    opacity: 0.7;
    transition: all 0.2s ease-in-out;
}

article:hover {
    box-shadow: 0 5px 15px rgb(6, 242, 25);
    color: rgba(255, 255, 255, 1);
    opacity: 1;
}

.about {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    height: auto;
    padding: 20px;
    font-size: 2rem;
    background-color: rgb(10, 169, 243);
}

.big {
    grid-column: span 2;
    grid-row: 2;
    background-color: #e24177;
    position: relative;
    height: 70%;
    width:80%;
    justify-self: center;
    position: relative;
    top: 20px;
    border-top: 2px solid currentColor;
    border-radius: 40% 0% 40% 0%;
    opacity: 0.5;
}

.big h3 {
    font-size: 2rem;
    text-decoration: none;
}

.big p {
    font-size: 2rem;
}

.big h3, .big p {
    position: relative;
    top: 50%;
    left: 10%;
    font-size: 1.5rem;
}

.small {
    background-color: #0f08e1;
    width:70%;
    position: relative;
    height: 70%;
    bottom: 15px;
    justify-self:center;
    align-self: center;
    opacity: 0.5;
}

.small h4, .small p {
    position: relative;
    top: 50%;
    left: 10%;
}

footer {
    grid-column-start: span 3;
    background-color: var(--cp-dark-blue);
}


/*browser resized to breakpoint will render a mobile layout*/
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 200px auto auto 100px;
    }
    header, .banner, aside, main, footer {
        grid-column-start: span 1;
    }
}




/*  --notes 
resizing to mobile where all components are column span 1 -- stacked
why the banner p not moving to the right? 
in the end make all main container borders roll bock into background
*/